.first-column {
    background-color: coral;
    min-height: 100px;
}

.first-column_header {
    min-height: 50px;
    min-width: 50%;
    background-color: white;
    align-content: center;
}

.first-column_blog {
    padding-top: 15px;
    background-color: coral;
}

.first_column_blog-style {
    background-color: white;
    margin-top: 15px;
    min-height: 200px;
}

.fc_header {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fc_content {
    font-size: medium;
}

.second-column {
    background-color: crimson;
    min-height: 100px;
}

.second-column_header {
    min-height: 50px;
    min-width: 50%;
    background-color: snow;
    align-content: center;
}

.second-column_blog {
    padding-top: 15px;
    background-color: crimson;
}

.second_column_blog-style {
    background-color: white;
    margin-top: 15px;
    min-height: 300px;
}

.sc_header {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sc_content {
    font-size: medium;
}

.third-column {
    background-color: palegreen;
    min-height: 100px;
}

.third-column_header {
    min-height: 50px;
    min-width: 50%;
    background-color: rgb(245, 239, 227);
    align-content: center;
}