<div fxLayout="row" fxLayoutAlign=" stretch">
  <div class="first-column" fxFlex="25">
    <div class="first-column_header" fxLayoutAlign="center center" fxLayout="column">
      <h3>The Designer's Blog</h3>
    </div>

  </div>
  <div class="second-column" fxFlex="50">
    <div class="second-column_header" fxLayoutAlign="center center">
      <h3>The Psycho Blog</h3>
    </div>

  </div>
  <div class="third-column" fxFlex>
    <div class="third-column_header" fxLayoutAlign="center center">
      <h3>ice-cream Blog</h3>
    </div>

  </div>
</div>

<!-- Blog -->
<div fxLayout="row" fxLayoutAlign=" stretch">
  <!-- Blog First Column-->
  <div class="first-column_blog" fxFlex="25">

    <!-- Blog Blocks -->
    <div class="first_column_blog-style card__one" *ngFor="let blog of blogs" (click)="readBlog(blog._id)">
      <div class="fc_header" fxLayoutAlign="center stretch">
        <h3>{{blog.title}}</h3>
      </div>
      <div *ngIf="blog.imageUrl">
        <img src="{{blog?.imageUrl?blog.imageUrl:''}}">
      </div>
      <div class="fc_content" [innerHTML]="blog.story">
      </div>
    </div>
    <!-- 
    <div class="first_column_blog-style">
      <div class="fc_header" fxLayoutAlign="center stretch">
        <h3>Blog Title</h3>
      </div>
      <div class="fc_content">
        <p>Blog Content</p>
      </div>
    </div> -->

  </div>


  <!-- Blog Second Column -->

  <div class="second-column_blog" fxFlex="50">

    <!-- Blog Blocks -->
    <ng-container *ngFor="let blog of blogs">
      <div class="second_column_blog-style" *ngIf="blog.blogtype==='The Psycho Blog'" (click)="readBlog(blog._id)">
        <div class="sc_header" fxLayoutAlign="center stretch">
          <h3>{{blog.title}}</h3>
        </div>
        <div *ngIf="blog.imageUrl">
          <img src="{{blog?.imageUrl?blog.imageUrl:''}}">
        </div>
        <div class="sc_content" [innerHTML]="blog.story">
        </div>
      </div>
    </ng-container>
  </div>


  <!-- Blog Third Column -->

  <div class="third-column_blog" fxFlex="25">

    <!-- Blog Blocks -->
    <div class="third_column_blog-style">
      <div class="tc_header" fxLayoutAlign="center stretch">
        <h3>Blog Title</h3>
      </div>
      <div class="tc_content">
        <p>Blog Content</p>
      </div>
    </div>
    <div class="third_column_blog-style">
      <div class="tc_header" fxLayoutAlign="center stretch">
        <h3>Blog Title</h3>
      </div>
      <div class="tc_content">
        <p>Blog Content</p>
      </div>
    </div>



  </div>



</div>
