<div class="grid-container">
  <div class="card grid-item">
    <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4>
        <b>Jane Doe</b>
      </h4>
      <p>Interior Designer</p>
    </div>
  </div>
  <div class="card grid-item">
    <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4>
        <b>Jane Doe</b>
      </h4>
      <p>Interior Designer</p>
    </div>
  </div>
  <div class="card grid-item">
    <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4>
        <b>Jane Doe</b>
      </h4>
      <p>Interior Designer</p>
    </div>
  </div>
  <div class="card grid-item">
    <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4>
        <b>Jane Doe</b>
      </h4>
      <p>Interior Designer</p>
    </div>
  </div>

  <div class="card grid-item">
    <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4>
        <b>jacky Hill</b>
      </h4>
      <p>bring Up a Day</p>
    </div>
  </div>
  <div class="card grid-item">
    <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4>
        <b>Sinha</b>
      </h4>
      <p>Sunrise</p>
    </div>
  </div>
  <div class="card grid-item">
    <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4>
        <b>drink San</b>
      </h4>
      <p>Beer is real drink</p>
    </div>
  </div>

</div>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
