<div class="login-form page-size">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" formControlName="emailId">
      <mat-error>Email is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="userPass">
      <mat-error>password is<strong>required</strong></mat-error>
    </mat-form-field>

    <button  *ngIf="!(isLoading$ | async)" mat-button color="primary" type="submit" [disabled]="(loginForm.invalid)">Submit</button>
    <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="isLoading$ | async" diameter="40" strokeWidth="20" ></mat-progress-spinner>
    <button mat-button color="primary" (click)="forgetPassword()" *ngIf="(loginAttempt>0) && !(isLoading$ | async)" type="button">Forget Password</button>
  </form>
</div>
