<div style="padding: 100px;" class="page-size">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Email" type="email" formControlName="emailId">
      <mat-error>Email is required</mat-error>
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <input matInput placeholder="Password" type="password" formControlName="userPass">
      <mat-error>password is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-stroked-button color="primary" style="float: right" type="submit">Submit</button>
  </form>
</div>
