<mat-toolbar color="primary" class="main-toolbar"  fxLayout="row" fxLayoutAlign="space-between end">
  <div fxLayoutAlign="space-around start">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div>
      <a routerLink="/" class="logo">Logo</a>
    </div>

  </div>

  <!-- <div fxflex fxLayoutAlign="flex-start" fxHide.xs>
    <mat-chip-list *ngFor="let chip of chips, i as index" fxLayout fxLayoutGap="10px">
      <mat-chip routerLink="/blogs">{{chip}}</mat-chip>
    </mat-chip-list>
  </div> -->

  <div fxHide.xs>
    <button mat-icon-button [matMenuTriggerFor]="personMenu">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="notifyMenu">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>


</mat-toolbar>

<mat-menu #personMenu="matMenu" yPosition="below" xPosition="before">
  <a routerLink="/login" mat-menu-item routerLinkActive="active" *ngIf="!(isAuth$ | async)">Login</a>
  <a mat-menu-item *ngIf="(isAuth$ | async)">Hi {{user.name | titlecase}</a>
  <a routerLink="/signup" mat-menu-item routerLinkActive="active" *ngIf="!(isAuth$ | async)">Sign Up</a>
  <!-- <button mat-menu-item>Sign Up</button> -->
  <button *ngIf="(isAuth$ | async)" routerLink="/story" mat-menu-item>Your Story</button>
  <button routerLink="/story" mat-menu-item>Anonymous Story</button>
  <a routerLink="/login" mat-menu-item routerLinkActive="active" *ngIf="(isAuth$ | async)" (click)='logout()'>Logout</a>
</mat-menu>

<mat-menu #notifyMenu="matMenu" yPosition="below" xPosition="before">
  <p class="notification">Hi There is a message for you<p>
</mat-menu>
