<mat-toolbar color="primary">
  <mat-toolbar-row class="navBar-toolbar">
      <button mat-icon-button class="navBar-menu"><mat-icon>menu</mat-icon></button>
    <div class="navBar-spacer-chips">
      <mat-chip-list >
        <mat-chip routerLink="/blogs">techie</mat-chip>
        <mat-chip>Spicey</mat-chip>
        <mat-chip color="accent" selected>Educational</mat-chip>
        <mat-chip color="accent" selected>feelings</mat-chip>
      </mat-chip-list>
    </div>
    <div>
      

    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="personMenu">
        <mat-icon class="navBar-icon">person</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="notifyMenu">
        <mat-icon class="navBar-icon">notifications</mat-icon>
      </button>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #personMenu="matMenu">
  <a *ngIf="!_authservice.isUserLoggedIn" routerLink="/login" mat-menu-item routerLinkActive="active">Login</a>
  <a *ngIf="!_authservice.isUserLoggedIn" routerLink="/signup" mat-menu-item routerLinkActive="active">Sign Up</a>
  <!-- <button mat-menu-item>Sign Up</button> -->
  <button *ngIf="_authservice.isUserLoggedIn" routerLink="/story" mat-menu-item>Your Story</button>
</mat-menu>

<mat-menu #notifyMenu="matMenu">
  <p>Hi There is a message for you<p>
</mat-menu>

