<mat-toolbar color="primary">

  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>
    <a routerLink="/">Logo</a>
  </div>

  <div fxflex fxLayoutAlign="flex-start" fxHide.xs>
    <mat-chip-list *ngFor="let chip of chips, i as index" fxLayout fxLayoutGap="10px">
      <mat-chip routerLink="/blogs">{{chip}}</mat-chip>
    </mat-chip-list>
  </div>
  
  <div fxflex fxLayout fxLayoutAlign="flex-end" fxHide.xs class="navigationIconButton">
    <button mat-icon-button [matMenuTriggerFor]="personMenu" class="icon-button">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="notifyMenu" class="icon-button">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>


</mat-toolbar>

<mat-menu #personMenu="matMenu">
  <a *ngIf="!_authservice.isUserLoggedIn" routerLink="/login" mat-menu-item routerLinkActive="active">Login</a>
  <a *ngIf="!_authservice.isUserLoggedIn" routerLink="/signup" mat-menu-item routerLinkActive="active">Sign Up</a>
  <!-- <button mat-menu-item>Sign Up</button> -->
  <button *ngIf="_authservice.isUserLoggedIn" routerLink="/story" mat-menu-item>Your Story</button>
</mat-menu>

<mat-menu #notifyMenu="matMenu">
  <p>Hi There is a message for you
    <p>
</mat-menu>
