<div class="main-editor" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayoutAlign="space-around center">
    <input type="text" id="title" name="title" placeholder="Title" [(ngModel)]="userStoryTitle">
  </div>
  <div class="storyStyle">
    <angular-editor [(ngModel)]="userStory" [config]="editorConfig"></angular-editor>
  </div>
  <div class="story_action-btn">
    <button mat-button color="primary" (click)="saveStory()">Save</button>
  </div>
<div *ngIf="photo.length>0" fxLayout="row" fxLayoutGap="5px">
  <div *ngFor="let pic of photo; index as p">
      <img src="{{pic.url}}" width="300" height="300" (click)="addImage(pic.id,pic.url)">
  </div>
  
</div>
</div>

