input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 35px;
  border: none;
  font-family: 'Roboto';
  color: gray;
  text-align: center;

}

input:focus {
  outline: none;
}

.storyStyle {
  font-family: 'Roboto';
  font-size: 18px;
  color: darkslategrey;
  background: white;
  max-height: 60vh;
  position: relative;
  overflow: auto;
}

.main-editor{
    background: white;
    min-height: 100vh;
}

.story_action-btn{
    position: relative;
}