input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 35px;
  border: none;
  font-family: 'Roboto';
  color: gray;

}

input:focus {
  outline: none;
}

.storyStyle {
  font-family: 'Roboto';
  font-size: 18px;
  color: darkslategrey;
  width: auto;
  background: white
}

.main-editor{
    background: white;
}