<mat-nav-list>
  <a mat-list-item (click)="onClose()" class="nav-list">
    <mat-icon>person</mat-icon>
    <span style="margin-left: 10px;">Profile</span>
  </a>
  <a mat-list-item (click)="onClose()" class="nav-list">
    <mat-icon>notifications</mat-icon>
    <span style="margin-left: 10px;">Message</span>
  </a>

  <mat-chip-list *ngFor="let chip of chips, i as index" aria-orientation="vertical">
    <mat-chip (click)="onChipSelect(chip, i)">{{chip}}</mat-chip>
  </mat-chip-list>
</mat-nav-list>
